{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "new-cap": 0,
    "func-names": 0,
    "max-len": [2, 80],
    "semi": [2, "never"],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "no-param-reassign": [2, { "props": false }],
  },
}
