[user]
  name = Valery Bugakov
  email = skymk1@gmail.com

[github "user"]

[merge]
  tool = vimdiff

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = cyan bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore

[url "https://"]
  insteadOf = git://

[push]
  default = simple

[credential]
  helper = osxkeychain

[diff]
  compactionHeuristic = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
