snippet cc "React component skeleton" b
import { Component, PropTypes } from 'react'
import styles from './some.css'

const propTypes = {
  some: PropTypes.object.isRequired,
}

const defaultProps = {
  some: 'some'
}

class $1 extends Component {
  constructor() {
    super()
  }

  render() {
		return (
			<div></div>
		)

  }
}

$1.propTypes = propTypes
$1.defaultProps = defaultProps

export default $1
endsnippet
